In [9]:
import pandas as pd
import csv

In [12]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [25]:
df = pd.read_csv('/content/drive/My Drive/masters_portal.csv')
print(df.shape)
df = df.dropna(subset=['university_name', 'program_name'])
print(df.shape)
df.head()

(60425, 23)
(60425, 23)

,country_name,country_code,university_name,university_rank,program_name,program_type,deadline,duration,language,tution_1_currency,...,tution_2_money,tution_2_type,tuition_price_specification,start_date,ielts_score,structure,academic_req,facts,city,program_url
0,Armenia,ARM,American University of Armenia,NaN,Economics,MSc,2004-07-18T00:00:00Z,NaN,English,EUR,...,2108.0,EU/EEA,Tuition (Year),2018-09-01 00:00:00,6.5,['Quantitative Methods for Economists (Mathema...,"<section id=""AcademicRequirements""> <h2>Academ...",['Starting in 2018-09-01 00:00:00 You can...,['Yerevan'],http://www.mastersportal.eu/studies/71101/econ...
1,Armenia,ARM,American University of Armenia,NaN,Political Science and International Affairs,Master,2031-07-18T00:00:00Z,24 months,English,EUR,...,2500.0,National,Tuition (Year),2018-08-22 00:00:00,6.5,NaN,"<section id=""AcademicRequirements""> <h2>Academ...",['Starting in 2018-08-22 00:00:00 You can...,['Yerevan'],http://www.mastersportal.eu/studies/71085/poli...
2,Armenia,ARM,American University of Armenia,NaN,Business Administration,MBA,2004-07-18T00:00:00Z,NaN,English,EUR,...,2499.0,EU/EEA,Tuition (Year),2018-09-01 00:00:00,6.5,['Managers with practical knowledge of account...,"<section id=""AcademicRequirements""> <h2>Academ...",['Starting in 2018-09-01 00:00:00 You can...,['Yerevan'],http://www.mastersportal.eu/studies/71102/busi...
3,Armenia,ARM,American University of Armenia,NaN,Computer and Information Science,MSc,NaN,24 months,English,EUR,...,2500.0,National,Tuition (Year),NaN,6.5,['Introduction to Object-Oriented Programming'...,"<section id=""AcademicRequirements""> <h2>Academ...",['Deadline and start date Application deadline...,['Yerevan'],http://www.mastersportal.eu/studies/71104/comp...
4,Armenia,ARM,American University of Armenia,NaN,Industrial Engineering and Systems Management,MEng,2031-07-18T00:00:00Z,24 months,English,EUR,...,2500.0,National,Tuition (Year),2018-08-22 00:00:00,6.5,"['Probability Theory', 'Analysis and Design of...","<section id=""AcademicRequirements""> <h2>Academ...",['Starting in 2018-08-22 00:00:00 You can...,['Yerevan'],http://www.mastersportal.eu/studies/71103/indu...

### Convert the whole dataframe to lower case

In [26]:
df = df.apply(lambda x: x.astype(str).str.lower())
df.head()

,country_name,country_code,university_name,university_rank,program_name,program_type,deadline,duration,language,tution_1_currency,...,tution_2_money,tution_2_type,tuition_price_specification,start_date,ielts_score,structure,academic_req,facts,city,program_url
0,armenia,arm,american university of armenia,nan,economics,msc,2004-07-18t00:00:00z,nan,english,eur,...,2108.0,eu/eea,tuition (year),2018-09-01 00:00:00,6.5,['quantitative methods for economists (mathema...,"<section id=""academicrequirements""> <h2>academ...",['starting in 2018-09-01 00:00:00 you can...,['yerevan'],http://www.mastersportal.eu/studies/71101/econ...
1,armenia,arm,american university of armenia,nan,political science and international affairs,master,2031-07-18t00:00:00z,24 months,english,eur,...,2500.0,national,tuition (year),2018-08-22 00:00:00,6.5,nan,"<section id=""academicrequirements""> <h2>academ...",['starting in 2018-08-22 00:00:00 you can...,['yerevan'],http://www.mastersportal.eu/studies/71085/poli...
2,armenia,arm,american university of armenia,nan,business administration,mba,2004-07-18t00:00:00z,nan,english,eur,...,2499.0,eu/eea,tuition (year),2018-09-01 00:00:00,6.5,['managers with practical knowledge of account...,"<section id=""academicrequirements""> <h2>academ...",['starting in 2018-09-01 00:00:00 you can...,['yerevan'],http://www.mastersportal.eu/studies/71102/busi...
3,armenia,arm,american university of armenia,nan,computer and information science,msc,nan,24 months,english,eur,...,2500.0,national,tuition (year),nan,6.5,['introduction to object-oriented programming'...,"<section id=""academicrequirements""> <h2>academ...",['deadline and start date application deadline...,['yerevan'],http://www.mastersportal.eu/studies/71104/comp...
4,armenia,arm,american university of armenia,nan,industrial engineering and systems management,meng,2031-07-18t00:00:00z,24 months,english,eur,...,2500.0,national,tuition (year),2018-08-22 00:00:00,6.5,"['probability theory', 'analysis and design of...","<section id=""academicrequirements""> <h2>academ...",['starting in 2018-08-22 00:00:00 you can...,['yerevan'],http://www.mastersportal.eu/studies/71103/indu...

In [27]:
columns_to_filter = ['structure', 'academic_req', 'facts', 'city']

In [29]:
import string
PUNCT_TO_REMOVE = string.punctuation
def remove_punctuation(text):
    """custom function to remove the punctuation"""
    return text.translate(str.maketrans('', '', PUNCT_TO_REMOVE))

for item in columns_to_filter:
  df[item] = df[item].apply(lambda text: remove_punctuation(text))
  # df[item] = df[item].apply(lambda x: x.astype(str).str.replace(r'[!"#$%&\'()*+,-./:;<=>?@\\^_{|}~`+]', ''))
  # df[item] = df[item].apply(lambda x: x.astype(str).str.replace('[', ''))
  # df[item] = df[item].apply(lambda x: x.astype(str).str.replace(']', ''))
df.head()

,country_name,country_code,university_name,university_rank,program_name,program_type,deadline,duration,language,tution_1_currency,...,tution_2_money,tution_2_type,tuition_price_specification,start_date,ielts_score,structure,academic_req,facts,city,program_url
0,armenia,arm,american university of armenia,nan,economics,msc,2004-07-18t00:00:00z,nan,english,eur,...,2108.0,eu/eea,tuition (year),2018-09-01 00:00:00,6.5,quantitative methods for economists mathematic...,section idacademicrequirements h2academic requ...,starting in 20180901 000000 you can apply...,yerevan,http://www.mastersportal.eu/studies/71101/econ...
1,armenia,arm,american university of armenia,nan,political science and international affairs,master,2031-07-18t00:00:00z,24 months,english,eur,...,2500.0,national,tuition (year),2018-08-22 00:00:00,6.5,nan,section idacademicrequirements h2academic requ...,starting in 20180822 000000 you can apply...,yerevan,http://www.mastersportal.eu/studies/71085/poli...
2,armenia,arm,american university of armenia,nan,business administration,mba,2004-07-18t00:00:00z,nan,english,eur,...,2499.0,eu/eea,tuition (year),2018-09-01 00:00:00,6.5,managers with practical knowledge of accountin...,section idacademicrequirements h2academic requ...,starting in 20180901 000000 you can apply...,yerevan,http://www.mastersportal.eu/studies/71102/busi...
3,armenia,arm,american university of armenia,nan,computer and information science,msc,nan,24 months,english,eur,...,2500.0,national,tuition (year),nan,6.5,introduction to objectoriented programming dis...,section idacademicrequirements h2academic requ...,deadline and start date application deadline a...,yerevan,http://www.mastersportal.eu/studies/71104/comp...
4,armenia,arm,american university of armenia,nan,industrial engineering and systems management,meng,2031-07-18t00:00:00z,24 months,english,eur,...,2500.0,national,tuition (year),2018-08-22 00:00:00,6.5,probability theory analysis and design of data...,section idacademicrequirements h2academic requ...,starting in 20180822 000000 you can apply...,yerevan,http://www.mastersportal.eu/studies/71103/indu...

In [32]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

STOPWORDS = set(stopwords.words('english'))
def remove_stopwords(text):
    """custom function to remove the stopwords"""
    return " ".join([word for word in str(text).split() if word not in STOPWORDS])

for item in columns_to_filter:
  df[item] = df[item].apply(lambda text: remove_stopwords(text))
df.head()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,country_name,country_code,university_name,university_rank,program_name,program_type,deadline,duration,language,tution_1_currency,...,tution_2_money,tution_2_type,tuition_price_specification,start_date,ielts_score,structure,academic_req,facts,city,program_url
0,armenia,arm,american university of armenia,nan,economics,msc,2004-07-18t00:00:00z,nan,english,eur,...,2108.0,eu/eea,tuition (year),2018-09-01 00:00:00,6.5,quantitative methods economists mathematical e...,section idacademicrequirements h2academic requ...,starting 20180901 000000 apply 20180704 000000...,yerevan,http://www.mastersportal.eu/studies/71101/econ...
1,armenia,arm,american university of armenia,nan,political science and international affairs,master,2031-07-18t00:00:00z,24 months,english,eur,...,2500.0,national,tuition (year),2018-08-22 00:00:00,6.5,nan,section idacademicrequirements h2academic requ...,starting 20180822 000000 apply 20180731 000000...,yerevan,http://www.mastersportal.eu/studies/71085/poli...
2,armenia,arm,american university of armenia,nan,business administration,mba,2004-07-18t00:00:00z,nan,english,eur,...,2499.0,eu/eea,tuition (year),2018-09-01 00:00:00,6.5,managers practical knowledge accounting financ...,section idacademicrequirements h2academic requ...,starting 20180901 000000 apply 20180704 000000...,yerevan,http://www.mastersportal.eu/studies/71102/busi...
3,armenia,arm,american university of armenia,nan,computer and information science,msc,nan,24 months,english,eur,...,2500.0,national,tuition (year),nan,6.5,introduction objectoriented programming discre...,section idacademicrequirements h2academic requ...,deadline start date application deadline start...,yerevan,http://www.mastersportal.eu/studies/71104/comp...
4,armenia,arm,american university of armenia,nan,industrial engineering and systems management,meng,2031-07-18t00:00:00z,24 months,english,eur,...,2500.0,national,tuition (year),2018-08-22 00:00:00,6.5,probability theory analysis design data system...,section idacademicrequirements h2academic requ...,starting 20180822 000000 apply 20180731 000000...,yerevan,http://www.mastersportal.eu/studies/71103/indu...

In [76]:
from collections import Counter
def remove_freqwords(text, freqWords):
    """custom function to remove the frequent words"""
    return " ".join([word for word in str(text).split() if word not in freqWords])

def remove_rarewords(text, rareWords):
    """custom function to remove the rare words"""
    return " ".join([word for word in str(text).split() if word not in rareWords])


columns_to_filter = ['structure', 'academic_req', 'facts']
for item in columns_to_filter:
  cnt = Counter()
  for text in df[item].values:
    for word in text.split():
      cnt[word] += 1
  freqWords = set([key for key in cnt.keys() if cnt[key] > 30000])
  if len(freqWords) < 10:
    freqWords = set([w for (w, wc) in cnt.most_common(10)])
  print('item: ', item, ' freqWords: ', len(freqWords), end=' ')
  df[item] = df[item].apply(lambda text: remove_freqwords(text, freqWords))

  rareWords = set([key for key in cnt.keys() if cnt[key] < 5])
  if len(rareWords) < 10:
    rareWords = set([w for (w, wc) in cnt.most_common()[:-10-1:-1]])
  print('rareWords: ', len(rareWords))
  df[item] = df[item].apply(lambda text: remove_rarewords(text, rareWords))

df.head()

item:  structure  freqWords:  10 rareWords:  10
item:  academic_req  freqWords:  10 rareWords:  10
item:  facts  freqWords:  10 rareWords:  10

,country_name,country_code,university_name,university_rank,program_name,program_type,deadline,duration,language,tution_1_currency,...,tution_2_money,tution_2_type,tuition_price_specification,start_date,ielts_score,structure,academic_req,facts,city,program_url
0,armenia,arm,american university of armenia,nan,economics,msc,2004-07-18t00:00:00z,nan,english,eur,...,2108.0,eu/eea,tuition (year),2018-09-01 00:00:00,6.5,quantitative economists mathematical economics...,h6 requirementsh6pto ensure complete submit do...,20180704,yerevan,http://www.mastersportal.eu/studies/71101/econ...
1,armenia,arm,american university of armenia,nan,political science and international affairs,master,2031-07-18t00:00:00z,24 months,english,eur,...,2500.0,national,tuition (year),2018-08-22 00:00:00,6.5,,h6strongadmission requirementsstrongh6pto cons...,20180822 20180731,yerevan,http://www.mastersportal.eu/studies/71085/poli...
2,armenia,arm,american university of armenia,nan,business administration,mba,2004-07-18t00:00:00z,nan,english,eur,...,2499.0,eu/eea,tuition (year),2018-09-01 00:00:00,6.5,managers practical knowledge accounting financ...,h6 requirementsh6pto ensure complete submit do...,20180704,yerevan,http://www.mastersportal.eu/studies/71102/busi...
3,armenia,arm,american university of armenia,nan,computer and information science,msc,nan,24 months,english,eur,...,2500.0,national,tuition (year),nan,6.5,objectoriented programming discrete mathematic...,requirementsh6pto considered applicant meet au...,,yerevan,http://www.mastersportal.eu/studies/71104/comp...
4,armenia,arm,american university of armenia,nan,industrial engineering and systems management,meng,2031-07-18t00:00:00z,24 months,english,eur,...,2500.0,national,tuition (year),2018-08-22 00:00:00,6.5,probability data operations 1 statistics econo...,h6 requirementsh6pto considered applicant meet...,20180822 20180731,yerevan,http://www.mastersportal.eu/studies/71103/indu...

In [77]:
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()
def stem_words(text):
    return " ".join([stemmer.stem(word) for word in text.split()])
for item in columns_to_filter:
  df[item] = df[item].apply(lambda text: stem_words(text))
df.head()

,country_name,country_code,university_name,university_rank,program_name,program_type,deadline,duration,language,tution_1_currency,...,tution_2_money,tution_2_type,tuition_price_specification,start_date,ielts_score,structure,academic_req,facts,city,program_url
0,armenia,arm,american university of armenia,nan,economics,msc,2004-07-18t00:00:00z,nan,english,eur,...,2108.0,eu/eea,tuition (year),2018-09-01 00:00:00,6.5,quantit economist mathemat econom econometr 1 ...,h6 requirementsh6pto ensur complet submit docu...,20180704,yerevan,http://www.mastersportal.eu/studies/71101/econ...
1,armenia,arm,american university of armenia,nan,political science and international affairs,master,2031-07-18t00:00:00z,24 months,english,eur,...,2500.0,national,tuition (year),2018-08-22 00:00:00,6.5,,h6strongadmiss requirementsstrongh6pto consid ...,20180822 20180731,yerevan,http://www.mastersportal.eu/studies/71085/poli...
2,armenia,arm,american university of armenia,nan,business administration,mba,2004-07-18t00:00:00z,nan,english,eur,...,2499.0,eu/eea,tuition (year),2018-09-01 00:00:00,6.5,manag practic knowledg account financ function...,h6 requirementsh6pto ensur complet submit docu...,20180704,yerevan,http://www.mastersportal.eu/studies/71102/busi...
3,armenia,arm,american university of armenia,nan,computer and information science,msc,nan,24 months,english,eur,...,2500.0,national,tuition (year),nan,6.5,objectori program discret mathemat foundat ci ...,requirementsh6pto consid applic meet aua gener...,,yerevan,http://www.mastersportal.eu/studies/71104/comp...
4,armenia,arm,american university of armenia,nan,industrial engineering and systems management,meng,2031-07-18t00:00:00z,24 months,english,eur,...,2500.0,national,tuition (year),2018-08-22 00:00:00,6.5,probabl data oper 1 statist econom oper 2 prod...,h6 requirementsh6pto consid applic meet aua ge...,20180822 20180731,yerevan,http://www.mastersportal.eu/studies/71103/indu...

In [80]:
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')

lemmatizer = WordNetLemmatizer()
wordnet_map = {"N":wordnet.NOUN, "V":wordnet.VERB, "J":wordnet.ADJ, "R":wordnet.ADV}
def lemmatize_words(text):
    pos_tagged_text = nltk.pos_tag(text.split())
    return " ".join([lemmatizer.lemmatize(word, wordnet_map.get(pos[0], wordnet.NOUN)) for word, pos in pos_tagged_text])

for item in columns_to_filter:
  df[item] = df[item].apply(lambda text: lemmatize_words(text))
df.head()

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

,country_name,country_code,university_name,university_rank,program_name,program_type,deadline,duration,language,tution_1_currency,...,tution_2_money,tution_2_type,tuition_price_specification,start_date,ielts_score,structure,academic_req,facts,city,program_url
0,armenia,arm,american university of armenia,nan,economics,msc,2004-07-18t00:00:00z,nan,english,eur,...,2108.0,eu/eea,tuition (year),2018-09-01 00:00:00,6.5,quantit economist mathemat econom econometr 1 ...,h6 requirementsh6pto ensur complet submit docu...,20180704,yerevan,http://www.mastersportal.eu/studies/71101/econ...
1,armenia,arm,american university of armenia,nan,political science and international affairs,master,2031-07-18t00:00:00z,24 months,english,eur,...,2500.0,national,tuition (year),2018-08-22 00:00:00,6.5,,h6strongadmiss requirementsstrongh6pto consid ...,20180822 20180731,yerevan,http://www.mastersportal.eu/studies/71085/poli...
2,armenia,arm,american university of armenia,nan,business administration,mba,2004-07-18t00:00:00z,nan,english,eur,...,2499.0,eu/eea,tuition (year),2018-09-01 00:00:00,6.5,manag practic knowledg account financ function...,h6 requirementsh6pto ensur complet submit docu...,20180704,yerevan,http://www.mastersportal.eu/studies/71102/busi...
3,armenia,arm,american university of armenia,nan,computer and information science,msc,nan,24 months,english,eur,...,2500.0,national,tuition (year),nan,6.5,objectori program discret mathemat foundat ci ...,requirementsh6pto consid applic meet aua gener...,,yerevan,http://www.mastersportal.eu/studies/71104/comp...
4,armenia,arm,american university of armenia,nan,industrial engineering and systems management,meng,2031-07-18t00:00:00z,24 months,english,eur,...,2500.0,national,tuition (year),2018-08-22 00:00:00,6.5,probabl data oper 1 statist econom oper 2 prod...,h6 requirementsh6pto consid applic meet aua ge...,20180822 20180731,yerevan,http://www.mastersportal.eu/studies/71103/indu...

In [93]:
nltk.download('punkt')
new_df = df
for i in range(df.shape[0]):
  for item in columns_to_filter:
    df[item][i] = nltk.word_tokenize(df[item][i])
df.head()

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

,country_name,country_code,university_name,university_rank,program_name,program_type,deadline,duration,language,tution_1_currency,...,tution_2_money,tution_2_type,tuition_price_specification,start_date,ielts_score,structure,academic_req,facts,city,program_url
0,armenia,arm,american university of armenia,nan,economics,msc,2004-07-18t00:00:00z,nan,english,eur,...,2108.0,eu/eea,tuition (year),2018-09-01 00:00:00,6.5,"[quantit, economist, mathemat, econom, econome...","[h6, requirementsh6pto, ensur, complet, submit...",[20180704],yerevan,http://www.mastersportal.eu/studies/71101/econ...
1,armenia,arm,american university of armenia,nan,political science and international affairs,master,2031-07-18t00:00:00z,24 months,english,eur,...,2500.0,national,tuition (year),2018-08-22 00:00:00,6.5,[],"[h6strongadmiss, requirementsstrongh6pto, cons...","[20180822, 20180731]",yerevan,http://www.mastersportal.eu/studies/71085/poli...
2,armenia,arm,american university of armenia,nan,business administration,mba,2004-07-18t00:00:00z,nan,english,eur,...,2499.0,eu/eea,tuition (year),2018-09-01 00:00:00,6.5,"[manag, practic, knowledg, account, financ, fu...","[h6, requirementsh6pto, ensur, complet, submit...",[20180704],yerevan,http://www.mastersportal.eu/studies/71102/busi...
3,armenia,arm,american university of armenia,nan,computer and information science,msc,nan,24 months,english,eur,...,2500.0,national,tuition (year),nan,6.5,"[objectori, program, discret, mathemat, founda...","[requirementsh6pto, consid, applic, meet, aua,...",[],yerevan,http://www.mastersportal.eu/studies/71104/comp...
4,armenia,arm,american university of armenia,nan,industrial engineering and systems management,meng,2031-07-18t00:00:00z,24 months,english,eur,...,2500.0,national,tuition (year),2018-08-22 00:00:00,6.5,"[probabl, data, oper, 1, statist, econom, oper...","[h6, requirementsh6pto, consid, applic, meet, ...","[20180822, 20180731]",yerevan,http://www.mastersportal.eu/studies/71103/indu...